@charset "UTF-8";

/*すべてのWebページに適用される*/
html{
	font-family:sans-serif;
} 
html * { 
	box-sizing:border-box;
}

body{
	margin: 0 0 0 0;
	background-color:#FFFFED;
}

.wrapper{
	margin: 80px auto 0px auto;
}
.wrapper{
	background:url(../images/background-image.png) center center repeat ;
	background-size: 1000px;
}

h1{
	color:#3a2615;
	font-size:40px;
	font-weight:bold;
	margin:15px auto;
	text-align:center;
}

h2{
	margin: 0;
	padding: 0;
}
		h2 img{
			width: 42%;
			height: auto;
			margin:30px 0 0 0;
			padding:0;
		}
p{
	line-height:1.0;
}
a:link{
	color:#e99e52;
}
a:visited{
	color:#e99e52;
}
a:hover{
	color:#ffbe7d;
}
a:active{
	color:#ffa861;
}
img{
	max-width: 100%;
	height: auto;
}
span{
	display: inline-block;
}

/* 固定ナビゲーションバー */
.fixed_nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(35, 30, 13, 0.8); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 1000; 
} 
.fixed_nav a {
    color: #fff;
    text-decoration: none;
}
        .fixed_nav a:hover {
            color: #ccc; 
        }
.nav_left {
    flex: 1;
    text-align: left;
}
.nav_left img{
   max-width: 110px;
}
.nav_right {
    flex: 2;
    text-align: right;
    margin:0 30px 0 0;
	font-weight: bolder;
}
.nav_right a {
    margin: 0 20px;
    padding:22px 17px;
}
.nav_right span {
    color: #fff;
}


/* スマホサイズのハンバーガーメニューアイコン */
.mobile_menu_icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
    padding: 15px;
    color: #fff;
}

/* ハンバーガーメニューのスタイル */
.mobile_menu {
    display: none;
    flex-direction: column;
    background-color: #3a2615;
    position: fixed;
    top: 70px; 
    right: 0;
    width: 200px;
    z-index: 1000;
}
.mobile_menu.active {
    display: flex;
}
.mobile_menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.mobile_menu ul li {
    border-bottom: 1px solid #fff;
}
.mobile_menu ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: block;
}

.mobile_menu a:hover{
	background-color: #8d4700;
}

/* 上へ戻る */
.top{
    position: fixed;
	width: 150px; 
    height: auto;
    cursor: pointer;
    bottom: 20px;
    right: 20px;
    z-index: 1000; 
}


/* ヘッダー */
.active {
    opacity: 1;
    transform: translateY(0);
}

.logo{
	margin: -30px 0 30px 0;
	line-height:0;
	text-align:center;
	vertical-align: bottom;
}

.background-header{
    margin: -230px 0 0 0;
	text-align:center;
	position: relative;
	z-index: 90;
}

.nav{
	margin: -10px 0 0 0;
	background:#f8f8f8;
}

.nav ul{
	list-style: none;
	display: flex;
	margin: 0 auto;
	padding:0;
	flex-wrap: wrap;
}

.nav li{ 
	width:25%;
	text-align:center;
	border-right :2px solid #ffa861;
	vertical-align: bottom;
}
.nav li:last-child{
	border-right:none;
}

.nav li a {
	display: block;
	padding: 20px 0;
	width:100%;
	font-size:20px;
	text-decoration: none;
}

.nav li a.current{
	background:#ffedd0;
}

/* index.html */

/* カルーセル */
.carousel {
    max-width: 70%;
	max-height: 700px;
    overflow: hidden;
    position: relative;
    margin: auto;
	border: #3a2615 5px solid;
	border-radius: 7px;
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    transition: opacity 0.5s ease-in-out;
}

.slide img {
    width: 100%;
	height: 100%;
	object-fit: cover;
}

.indicators {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.indicator {
    width: 20px;
    height: 20px;
    margin: 7px;
    background-color: #aaaaaa;
    border-radius: 50%;
	border: #3a2615 3px solid;
    cursor: pointer;
    transition: background-color 0.3s;
}

.indicator.active {
    background-color: #303030;
}

/*すずめとは*/
.suzume-about{
	display:flex;
}
.suzume-about p{
	margin:0 0 10px 0;
	font-weight: bolder;
}
.suzume-about img{
	margin-top: 50px;
}

.suzume-balloon {
	position: relative;
	background: #fff;
	border: 5px solid #3a2615;
	border-radius: 30px;
	padding: 20px;
	margin: 0 0 0 40px;
	width: 50%;
}
.suzume-balloon:after, .suzume-balloon:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.suzume-balloon:after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #fff;
	border-width: 30px;
	margin-top: -30px;
}
.suzume-balloon:before {
	border-color: rgba(38, 44, 48, 0);
	border-right-color: #3a2615;
	border-width: 37px;
	margin-top: -37px;
}
		.suzume-balloon p {
			font-size:25px;
			line-height: 1.75;
		}

.suzume-balloon2 {
	position: relative;
	background: #fff;
	border: 5px solid #3a2615;
	border-radius: 15px;
	padding: 30px;
	margin-right: auto;
	margin-left: auto;
	width: 80%;
}

	.suzume-balloon2 p {
		font-size:25px;
		line-height: 1.75;
		font-weight: bolder;
	}
        h3{
			text-align: right;
		}
		h3 a{
			font-size: 40px;
		}

		h4{
			font-size: 30px;		}

/* #images */
.fadein {
	opacity : 0;
	transform : translate(0, 100px);
	transition : all 1s;
}
   
.fadein.active{
	opacity : 1;
	transform : translate(0, 0);
}

.suzume-illust{
	max-width: 40%;
}


/*すべてのページに適用 - フッター*/
.background-footer{
	margin: 0 0 -50px 0;
	text-align:center;
}
.footer{
	margin: -30px 0 0 0;
    font-size: 20px;
} 
.footer p{
	margin-bottom:20px;
}



/*スマートフォン向けCSS*/
@media(max-width: 767px) {
    /*　全体 */
		h1{
			font-size:23px;
		}
		h2 img{
			width: 60%;
			margin:20px 0 0 0;
		}
	/* ヘッダー */
		/* ハンバーガーメニューを表示 */
		.mobile_menu_icon {
			display: block;
		}

		/* 通常のナビゲーションバーは非表示に */
		.nav_right {
			display: none;
		}

	/* スクロールしても固定されるナビゲーションバー */
		.fixed-nav {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			z-index: 1000;
		}

	/* index.html */
		.carousel {
			max-width: 100%;
			overflow: hidden;
			position: relative;
			margin: auto;
			border: #3a2615 4px solid;
		}	

	/*すずめとは*/ 
		.suzume-about{
			display:flex;
			flex-direction: column-reverse;
		}
		.suzume-about p{
			margin:0 0 5px 0;
			font-size: 12px;
		}
		.suzume-about img{
			margin-top: 50px;
			width: 100%;	
		}


			.suzume-balloon{
				position: relative;
				background: #fff;
				border: 3px solid #3a2615;
				border-radius: 20px;
				padding: 14px;
				margin: 0 0 0 20px;
				width: 90%;
			}

			.suzume-balloon p {
				font-size:15px;
			}

			.suzume-balloon:after, .suzume-balloon:before {
				all:unset;
				top: 100%;
				left: 50%;
				border: solid transparent;
				content: "";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
			}
			
			.suzume-balloon:after {
				border-color: rgba(255, 255, 255, 0);
				border-top-color: #fff;
				border-width: 50px;
				margin-left: -50px;
			}
			.suzume-balloon:before {
				border-color: rgba(58, 38, 21, 0);
				border-top-color: #3a2615;
				border-width: 54px;
				margin-left: -54px;
			}

			.suzume-balloon2{
				position: relative;
				background: #fff;
				border: 3px solid #3a2615;
				border-radius: 20px;
				padding: 14px;
				margin: 0 0 0 20px;
				width: 90%;
			}
			    h3{
					text-align: left;
				}
				h3 a{
					font-size:25px;
				}

				.suzume-balloon2 p {
					font-size:15px;
				}

				h4{
					font-size: 20px;
				}

	/*フッター*/
		.background-footer{
			margin: 0 0 -40px 0;
			text-align:center;
		}
		.footer{
			margin: -30px 0 0 0;
			font-size: 13px;
		} 
		.footer p{
			margin-bottom:0px;
		}
		.top{
			width: 120px;
			height: auto;
			bottom: 10px;
			right: 10px;
		}
		
}

@media(max-width: 500px) {
	h1{
		font-size: 15px;
	}
	.suzume-about img{
		margin-top: 50px;
		width: 150%;	
	}
}